<!DOCTYPE html>
<html>
  <head>
    <title>Create Questionnaire</title>
    {% load static %} <link rel="stylesheet" href={% static 'create.css' %} />
  </head>
  <body>
    <div class="questionnaire-container">
      <h1>Create Questionnaire</h1>

      <form method="post">
        {% csrf_token %}

        <label for="question">Question:</label><br />
        <input type="text" id="question" name="question" /><br /><br />

        <label for="choice1">Choice 1:</label><br />
        <input type="radio" id="choice1" name="answer" /><br /><br />

        <label for="choice2">Choice 2:</label><br />
        <input type="radio" id="choice2" name="answer" /><br /><br />

        <label for="choice3">Choice 3:</label><br />
        <input type="radio" id="choice3" name="answer" /><br /><br />

        <!-- You can add more choices if needed -->
        <!-- For instance:
            <label for="choice3">Choice 3:</label><br>
            <input type="text" id="choice3" name="choice3"><br><br>
            -->

        <input type="submit" value="Create Questionnaire" />
      </form>
    </div>
  </body>
</html>
